.label {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
}

.label-error{
	 -fx-font-size: 11.0pt;
    -fx-font-family: "Arial";
    -fx-text-fill: red;
}

.label-header {
    -fx-font-size: 32.0pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
}

.button {
	-fx-font-size: 9.0pt;
	-fx-font-family: "Arial";
	-fx-text-fill: black;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
