.simple-heading,
.simple-label {
    -fx-background-color: transparent;
    -fx-font-family: "sans-serif";
}

.simple-heading {
    -fx-font-size: 24pt;
}

.simple-heading-2 {
    -fx-font-size: 18pt;
}

.simple-label,
.simple-link {
    -fx-font-size: 13pt;
}

.simple-link {
    -fx-text-fill: rgb(41, 128, 185);
    -fx-underline: true;
}

.simple-form-row {
    -fx-alignment: center-left;
}

.simple-red {
    -fx-color: rgb(231, 76, 60);
    -fx-text-fill: white;
}

.simple-blue {
    -fx-color: rgb(52, 152, 219);
    -fx-text-fill: white;
}

.simple-green {
    -fx-color: rgb(46, 204, 113);
    -fx-text-fill: white;
}

.simple-mandatory {}

.simple-from {
    -fx-min-height: 480;
    -fx-min-width: 640;
}

.simple-subtle {
    -fx-text-fill: rgb(180, 180, 180);
}