.label {
    -fx-font-size: 11.0pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
}

.label-header {
    -fx-font-size: 32.0pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
}

.button {
	-fx-font-size: 9.0pt;
	-fx-font-family: "Arial";
	-fx-text-fill: black;
}